.Rproj.user
.Rhistory
.RData
.Ruserdata

.config/

.local/

.venv/

reports/.Renviron

.jupyter/

*.pdf

.pdfbox.cache

.Renviron

review-material/

.cache/

.TinyTeX/

bin/

README.html

reports/022/origami/

reports/022/experimental-evaluation-ble-beacon/
